name: Go

on: [push , pull_request]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      
    - name: upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: my-artifact
        path: ${{ github.workspace }}/
  release:
    name: release artifacts
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Downland artifacts
      uses: actions/download-artifact@v3
      with:
        name: my-artifact
    - name: test download    
      run: ls -R
    - name: test download 2   
      run: pwd 
  packer:
    runs-on: ubuntu-latest
    needs: release
    name: packer

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2


      # validate templates
      - name: Validate Template
        uses: hashicorp/packer-github-actions@master
        with:
          command: validate
          arguments: -syntax-only
          target: ami.pkr.hcl
